In [ ]:
# Introduction to Pandas

# Installation of Pandas

# Importing Pandas as pd

# Checking Pandas version

# Creating Series

# Creating DataFrames

# Locate Row using loc[]

# Reading CSV files

# Reading JSON files

# Analyzing DataFrames

# head() and tail() methods

# info() method

# describe() method

In [1]:
# Importing Pandas
import pandas as pd

In [2]:
# Checking Pandas version
print(pd.__version__)

2.2.3

In [3]:
# Creating Series
a=[1,2,34,4]
myvar=pd.Series(a)
print(myvar)

0     1
1     2
2    34
3     4
dtype: int64

In [4]:
# Creating DataFrames
data={'rollno':[1,2,3,4],
     'name':['a','b','c','d']}
df=pd.DataFrame(data)
print(df)

   rollno name
0       1    a
1       2    b
2       3    c
3       4    d

In [5]:
# Locate Row using loc[]
print(df.loc[2])

rollno    3
name      c
Name: 2, dtype: object

In [9]:
# Reading CSV files
# df=pd.read_csv('info.csv')
df=pd.read_csv('data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [10]:
# Reading JSON files
df=pd.read_json('data.json')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [12]:
# Analyzing DataFrames

# head() and tail() methods
df.head(5)
df.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [13]:
# info() method
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB

In [14]:
# describe() method
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.800000
std     42.299949   14.510259   16.450434   266.377134
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000